---
---

<style>
  #cookiePopup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--brand-background-dark);
    color: var(--brand-text);
    opacity: 90%;
    padding: 10px;
    text-align: center;
    z-index: 9999;
  }
  #cookiePopup a {
    color: var(--brand-text);
  }
  #acceptCookies {
    background-color: var(--brand-background);
    color: var(--brand-text);
    border: 1px solid var(--brand-text-darker);
    padding: 5px;
    font-family: inherit;
    cursor: pointer;
  }
</style>
<div id="cookiePopup">
  <p>
    By using this website, you agree to the <a href="/legal/privacy"
      >Privacy Policy</a
    >.
  </p>
  <button id="acceptCookies">Accept</button>
  <script>
    // When the popup is closed, set a cookie to remember that the user has closed it
    function setCookie(cname, cvalue, exdays) {
      let d = new Date();
      d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
      let expires = "expires=" + d.toUTCString();
      document.cookie =
        cname + "=" + cvalue + ";" + expires + ";path=/;SameSite=Lax";
    }

    // Get the cookie popup
    let cookiePopup = document.getElementById("cookiePopup");
    // Get the button that closes the cookie popup
    let acceptCookies = document.getElementById("acceptCookies");
    // When the user clicks on the button, close the cookie popup
    acceptCookies.onclick = function () {
      cookiePopup.style.display = "none";
      setCookie("cookiePopup", "true", 30);
    };

    // Check if the cookie exists
    if (document.cookie.indexOf("cookiePopup") >= 0) {
      // If the cookie exists, hide the cookie popup
      cookiePopup.style.display = "none";
    } else {
      // If the cookie does not exist, show the cookie popup
      cookiePopup.style.display = "block";
    }
  </script>
</div>
