@import url("./colors.css");
@import url("./classes.css");

/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

body {
  font-family: "Fira Mono", monospace;
  background: var(--brand-background-dark);
  color: var(--brand-text);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
