---
---

<style>
  #global-header {
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  a > i {
    font-size: 1.4rem;
    color: var(--brand-text);
  }
</style>

<div id="global-header" class="body-box">
  <a class="whatthis" href="/">
    <span class="thisis">Blog home</span>
    <i class="fas fa-plus"></i>
  </a>
  <a class="whatthis" href="https://auravoid.dev/">
    <span class="thisis">auravoid.dev</span>
    <i class="fas fa-home"></i>
  </a>
  <a class="whatthis" href="https://auravoid.dev/support">
    <span class="thisis">Support</span>
    <i class="fas fa-question-circle"></i>
  </a>
</div>
